.sidenav-container {
  background: #fff;
  height: 100vh;
}

mat-sidenav {
  width: 25em;
}

#nav-back {
  border-bottom: #eaeaee solid 1px;
}

.icon-container {
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: #32305d;
}

.icon-text {
  padding-left: 1.5em;
}

mat-selection-list {
  padding-top: 0;
}

mat-sidenav-content {
  background-color: #f5f5f5;
  // Toggles content module scrollbar
  // overflow: hidden;
}

#main-content {
  margin: 4% 7% 4% 3%;
  padding: 1% 1.5% 2% 1.5%;
  background-color: #fff;
  text-align: justify;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.01), 0 2px 10px rgba(0,0,0,0.05);
}

mat-list-option[aria-selected="true"] {
  //background: mat-color($mat-light-theme-background, hover, 0.12);
}

.nav-button {
  padding: 0;
  min-width: 0;
}

mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 5% !important;
}

mat-sidenav-content:not(.mat-drawer-opened) {
  margin-left: 4.5%;
}
