.icon-container {
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-size: 18px, smaller;
    padding: 0;
  }

#arrow_back {
    font-size: 12px;
    font-weight: bold;
    height: 12px;
}

#heading {
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em
}

#wrapper-div {
    padding-left: 1em;
}

.input-label {
    font-weight: bold;
    margin-top: 2em;
    width: 100%;
}

.bigger-input-label {
    font-size: larger;
    font-weight: bold;
    margin-top: 2em;
    width: 100%;
}

.full-width {
    width: 100%;
}

.sub-text {
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.media-button {
    width: 175px;
    height: 60px;
    margin-left: 1.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.media-button mat-icon {
  padding-right: 6px;
}

#button-group {
    padding-bottom: 5em;
}

#drop-down-wrapper {
    padding-bottom: 3em;
}

#slide-toggle {
    padding-bottom: 4em;
}

#publish-button {
    width: 25%;
    height: 3em;
    font-size: larger;
    text-align: left;
    margin-left: 3em;
    background-color: rgb(0, 175, 108);
    color: white;
    border-color: white;
}

#save-button {
    width: 25%;
    height: 3em;
    font-size: larger;
    text-align: left;
    border-color: black;
}

#final-button-group {
    padding-top: 3em;
}

#delete-button {
    width: 25%;
    height: 3em;
    font-size: larger;
    text-align: left;
    border-color: red;
}


.icon-right {
    float: right;
    line-height: 1.5;
}

.mat-button-toggle {
    background-color: rgb(98, 54, 168);
    color: white;
  }
  .mat-button-toggle-checked {
    background-color:adjust-hue($color: #48018b, $degrees: 10)
}

  .mat-button-toggle-group {
      border: 0;
  }
