<mat-toolbar>
  <img id="header-cbs-logo" src="../../../assets/img/cbs-students-logo.png" alt="cbs-students logo">
  <span id="header-user-text">CBS Outdoor & Adventure</span>
  <button mat-icon-button [matMenuTriggerFor]="userMenu" id="header-user-button" aria-hidden="false" aria-label="user">
    <mat-icon id="header-user-logo">account_box</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <span mat-menu-item (click)="testMenuItem()">
      Sign out
    </span>
  </mat-menu>
</mat-toolbar>
