<div class="outer-content">
  <div class="icon-container">
    <mat-icon matListIcon aria-hidden="false" aria-label="back" id="arrow_back">arrow_back_ios</mat-icon>
    <span class="icon-text">Back</span>
  </div>
</div>

<div id="wrapper-div">
  <form [formGroup]="newPostFormGroup" (ngSubmit)="submitNewPost()">
    <div>
      <h1 class="mat-h1" id="heading">New Post</h1>
    </div>
      <!-- Title -->
      <p>
        <mat-label class="input-label">Title*</mat-label>
        <br>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput id="titleInput" placeholder="Name your post" formControlName="title">
        </mat-form-field>
        <mat-error *ngIf="newPostFormGroup.controls.title.errors?.required && newPostFormGroup.controls.title.touched">
          You must enter a title
        </mat-error>

      </p>

      <!-- Text -->
      <p>
        <mat-label class="input-label">Text*</mat-label>
        <br>
        <mat-form-field appearance="outline" class="full-width">
          <textarea matInput id="textInput" placeholder="Write your new post here..." formControlName="text" rows="14" ></textarea>
        </mat-form-field>
        <mat-error *ngIf="newPostFormGroup.controls.text.errors?.required && newPostFormGroup.controls.text.touched">
          You must enter text
        </mat-error>
      </p>

      <!-- Media -->
      <mat-label class="bigger-input-label">Add Media</mat-label>
      <br>
      <p class="sub-text">
        You can add one media type to your post. if you want to chane the media type, you need to delete the added media first.
      </p>
      <!-- TO DO: Round corners, center text -->
      <div id="button-group">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="mediaType" >
          <mat-button-toggle value="PHOTO" class="media-button" color="primary">
            <mat-icon matListIcon aria-hidden="false" aria-label="back">image</mat-icon>
            Photo(s)
          </mat-button-toggle>

          <mat-button-toggle value="VIDEO" class="media-button">
            <mat-icon matListIcon aria-hidden="false" aria-label="back">smart_display</mat-icon>
            Video
          </mat-button-toggle>

          <mat-button-toggle value="PODCAST" class="media-button">
            <mat-icon matListIcon aria-hidden="false" aria-label="back">podcasts</mat-icon>
            Podcast</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!-- Collection -->
      <mat-label class="bigger-input-label">Collection</mat-label>
      <br>
      <p class="sub-text">
        You can add this post to one or more collections of related content.
      </p>
      <div id="drop-down-wrapper">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Select collections</mat-label>
          <mat-select [formControl]="collections" multiple>
            <mat-option *ngFor="let collection of collectionList" [value]="collection">{{collection}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <!-- Pinned -->
      <mat-label class="bigger-input-label">Pinned</mat-label>
      <br>
      <p class="sub-text">
        You can pin one post or event to the top of the page.
      </p>
      <div id="slide-toggle">
        <mat-slide-toggle color="primary" formControlName="pinned"></mat-slide-toggle>
        <br>
      </div>


      <!-- Responsible -->
      <mat-label class="bigger-input-label">Responsible</mat-label>
      <br>
      <p class="sub-text">
        Assign responsibility to a volunteer to give them access to edit this content and give them notifications when there are new comments.
      </p>
      <div id="drop-down-wrapper">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Select volunteer or group</mat-label>
          <mat-select [formControl]="groups" multiple>
            <mat-option *ngFor="let group of groupList" [value]="group" >{{group}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

       <!-- Collaboration -->
       <mat-label class="bigger-input-label">Collaboration</mat-label>
       <br>
       <p class="sub-text">
          Invite another student organisation to collaborate on content creation.<br>
          A co-creator will be listed as co-author of the content and the content will show up on their page and feed, but they can't edit the content.
      </p>
      <div id="drop-down-wrapper">
        <mat-form-field appearance="outline" class="full-width">
           <mat-label>Select organisation</mat-label>
           <mat-select [formControl]="organisations" multiple>
             <mat-option *ngFor="let organisation of organisationList" [value]="organisation" >{{organisation}}</mat-option>
           </mat-select>
         </mat-form-field>
       </div>

       <mat-divider></mat-divider>

       <div id="final-button-group">
        <button mat-stroked-button id="save-button" name="save-button">
          Save draft
          <mat-icon matListIcon aria-hidden="false" aria-label="back" class="icon-right">save</mat-icon>
        </button>

        <button mat-flat-button id="publish-button" name="publish-button">
          Publish post
          <mat-icon matListIcon aria-hidden="false" aria-label="back" class="icon-right">text_snippet</mat-icon>
        </button>
      </div>
    </form>
</div>

