<div class="outer-content">
    <div class="icon-container">
      <mat-icon matListIcon aria-hidden="false" aria-label="back" id="arrow_back">arrow_back_ios</mat-icon>
      <span class="icon-text">Back</span>
    </div>
  </div>
  
  <div id="wrapper-div">
    <form [formGroup]="newCollectionFormGroup" (ngSubmit)="submitNewCollection()">
      <div>
        <h1 class="mat-h1" id="heading">New Collection</h1>
      </div>
        <!-- Title -->
        <p>
          <mat-label class="input-label">Title*</mat-label>
          <br>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput id="titleInput" placeholder="Name your collection" formControlName="title">
          </mat-form-field>
          <mat-error *ngIf="newCollectionFormGroup.controls.title.errors?.required && newCollectionFormGroup.controls.title.touched">
            You must enter a title
          </mat-error>
  
        </p>
        
        <!-- Description-->
        <p>
            <mat-label class="bigger-input-label">Description*</mat-label>
            <br>
            <mat-form-field appearance="outline" class="full-width">
                <textarea matInput placeholder="Enter a description of the collection" formControlName="description" rows="10"></textarea>
            </mat-form-field>
            <mat-error *ngIf="newCollectionFormGroup.controls.description.errors?.required && newCollectionFormGroup.controls.description.touched">
                You must enter a description
            </mat-error>
        </p>

        <!-- Content -->
        <mat-label class="bigger-input-label">Add Content</mat-label>
        <br>
        <p class="sub-text">
            You can add content to your collection. Content can be posts or events.
        </p>
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Select Posts</mat-label>
            <mat-select [formControl]="posts" multiple>
              <mat-option *ngFor="let post of postList" [value]="post.title">{{post.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Select Events</mat-label>
            <mat-select [formControl]="events" multiple>
              <mat-option *ngFor="let event of eventList" [value]="event.title">{{event.title}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

  
        <!-- Pinned -->
        <mat-label class="bigger-input-label">Pinned</mat-label>
        <br>
        <p class="sub-text">
          You can pin one post or event to the top of the page.
        </p>
        <div id="slide-toggle">
          <mat-slide-toggle color="primary" formControlName="pinned"></mat-slide-toggle>
          <br>
        </div>
         <mat-divider></mat-divider>
  
         <div id="final-button-group">
          <button mat-stroked-button id="save-button" name="save-button">
            Save draft
            <mat-icon matListIcon aria-hidden="false" aria-label="back" class="icon-right">save</mat-icon>
          </button>
  
          <button mat-flat-button id="publish-button" name="publish-button">
            Publish collection
            <mat-icon matListIcon aria-hidden="false" aria-label="back" class="icon-right">text_snippet</mat-icon>
          </button>
        </div>
      </form>
  </div>
  
  