.material-icons {
  padding-right: 5px;
  padding-left: 0;
}

/*.mat-cell, .mat-header-cell, .mat-footer-cell {
  justify-content: flex-end!important;
}*/

.mat-cell-edit {
  justify-content: flex-end!important;
}

.mat-column-title {
  flex-grow: 3;
}

.mat-column-startDate {
  flex-grow: 3;
}

.mat-column-endDate {
  flex-grow: 3;
}

.mat-column-location {
  flex-grow: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-status {
  flex-grow: 2;
}

.event-filter {
margin-left: 24px;
}
