.post-status-div {
  padding: 1px 12px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.7rem;
}

.published {
  background-color: #88e288;
}

.draft {
  background-color: #f9ae7a;
}
