<div id="post-header">
  <h1>Posts</h1>
  <button routerLink="/new-post" id="new-btn" mat-raised-button color="primary">
    New post <mat-icon>add</mat-icon>
  </button>
</div>
<table mat-table [dataSource]="posts">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let post">
      {{ post.title ? post.title : 'N/A' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>Created</th>
    <td mat-cell *matCellDef="let post">
      {{ post.createdAt ? post.createdAt : 'N/A' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let post">
      {{ post.mediaType ? post.mediaType : 'TEXT' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let post">
      {{ post.published ? 'Published' : 'Draft' }}
    </td>
  </ng-container>
  <!-- TODO: add (click)="editPost(post)"-->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let post">
      <button routerLink="/edit-post" mat-stroked-button color="primary">
        Edit
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
