@import '~@angular/material/theming';

.example-container {
  background: #fff;
  height: 100vh;
}

mat-sidenav {
  width: 20em;
}

#sidenav-header {
  display: flex;
  align-items: center;
}

.icon-container {
  display: inline-flex;
  align-items: center;
}

.icon {
  margin-left: 2em;
}

.icon-text {
  margin-left: 2em;
}

mat-sidenav-content {
  background-color: #f5f5f5;
}

mat-list-option[aria-selected="true"] {
//  angular-material-color($mat-light-theme-background, hover, 0.12);
}
