.example-container {
  background: #fff;
  height: 100vh;
}

mat-sidenav {
  width: 20em;
}

#sidenav-header {

}

.icon-container {
  display: inline-flex;
  align-items: center;
}

.icon {
  margin-left: 2em;
}

.icon-text {
  margin-left: 2em;
}
