/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-table {
  width: 100%;
}

#component-title {
  color: #32305d;
  font-weight: 800;
  font-size: 2em;
}

#component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

#new-btn {
  text-align: left;
  width: 15%;
  font-size: 1rem;
  letter-spacing: 1px;
}

#new-btn div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-row:hover {
  background-color: #eeeeee;
}

.mat-row, .mat-header-row {
  border-bottom: none;
  flex: 1;
  justify-content: center;
}

.mat-header-cell {
  font-size: 1rem;
  color: #333333;
  font-weight: bold;
}

.mat-column-edit {
  justify-content: flex-end;
  flex-grow: 0;
  flex-basis: 5%;
}

.status-div {
  padding: 1px 12px;
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.7rem;
}

.published {
  background-color: #88e288;
}

.past {
  background-color: #838383;
}

.draft {
  background-color: #f9ae7a;
}
